@font-face{
	font-family: font-san-Bold;
	src:url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Bold.otf);
}
@font-face{
	font-family: font-san-Heavy;
	src:url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Heavy.otf);
}
@font-face{
	font-family: font-san-Medium;
	src:url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Medium.otf);
}
@font-face{
	font-family: font-san-Regular;
	src:url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Regular.otf);
}
@font-face{
	font-family: font-san-Semibold;
	src:url(fonts/San-Francisco-Pro-Fonts-master/SF-Pro-Display-Semibold.otf);
}
@font-face{
	font-family: font-compact-Medium;
	src:url(fonts/sf-compact-display-cufonfonts/sf-compact-display-medium-5864711817c30.otf);
}
@font-face{
	font-family: font-compact-Thin;
	src:url(fonts/sf-compact-display-cufonfonts/sf-compact-display-thin-58646eb43a785.otf);
}
