%heading{
    font-family: $font-default;
    color: $color-dark;
}
.heading-1{
    @extend %heading;
    font-size: 5.5rem;
    line-height: 1.2;
}

.heading-2{
    @extend %heading;
    font-size: 4.5rem;
}

.heading-4{
    @extend %heading;
    font-size: 2rem;
}

.paragraph{
    color: $color-gray-dark-2;
    line-height: 1.6;
    font-size: 1.5rem;

    &--fix{
        width: 47%;
        margin: auto;
    }
}

.text-center{
    text-align: center !important;
}