// background
// #ff6364
// #dcf4ff
// #eedad3
// #fff5f4
// #e4f5e5
// #fff9df
// #e7f3ff
// #ffefe0
// #f5f5f5
// #ffefe2
// #e5f8ff
// #ededed
// #6ab963

// font: 14px
// #999999
// #707070
// font : 55px
// #333333
// font:15px
// #666666
// font : 20px
// font 25px
// font 35px
// font 22
// #171717
// font 12px
// #a6a6a6
// font 18
// font 45

$color-primary:#ff6363;

$color-blue-dark:#dcf4ff;
$color-blue-light-1:#e4f5e5;
$color-blue-light-2:#e7f4ff;
$color-blue-light-3:#e5f8ff;

$color-pink-dark:#eedad3;
$color-pink-light-1:#fff5f4;
$color-pink-light-2:#fff9de;
$color-pink-light-3:#feefe0;
$color-pnik-light-4:#ffefe3;

$color-dark-1:#171717;
$color-dark:#333333;
$color-gray-dark-1:#707070;
$color-gray-dark-2:#666666;
$color-gray-light-1:#999999;
$color-gray-light-2:#a6a6a6;

$font-default:'Open Sans', sans-serif;