@media (max-width:576px) {
	.topheader{
		height: auto;
		text-align: center;
		&__social{
			width: 100%;
		}
		// end social
		&__phone-number{
			width: 100%;
			padding-left: 0;
			border-right: 1px solid #434343;
		}
		// end phone-number
		&__openning{
			width: 100%;
			padding:0 0 0 0;
		}
	}
	// end topheader

	.menu{
		&__right{
			text-align: center;
			li.nav-item{
				a.nav-link{
					font-size: 16px;
				}
				// ned a
				a.nav-link.nav-link-btn{
					margin-top: 10px;
				}
		}
		// end li
	}
	}
	// end menu

	.slideshow{
		a.carousel-control-next,a.carousel-control-prev{
			top: 80%;
			right: 30%;

	}
		a.carousel-control-prev{
			left: 30%;
		}
	}
	// end slide show

	.about{
		margin: 50px 0px;

		&__details{

			&__readmore{
				margin-bottom: 20px;
				display: block;
			}

		}
		// end details
	}
	// end about
}