@media (min-width: 576px) and (max-width:992px) {
	.topheader{
		height: auto;
		text-align: center;
		&__social{
			width: 100%;
		}
		// end social
		&__phone-number{
			width: 100%;
			padding-left: 0;
			border-right: 1px solid #434343;
		}
		// end phone-number
		&__openning{
			text-align: center;
			width: 100%;
			padding:0 0 0 0;
		}
	}
	// end topheader
	.menu{
		&__right{
			text-align: center;
			li.nav-item{
				a.nav-link{
					font-size: 20px;
				}
				// ned a
				a.nav-link.nav-link-btn{
					margin-top: 10px;
				}
		}
		// end li
	}
	}
	// end menu
}