@import "var";
@import "normalize";

@mixin textOfTopheader {
	height: 40px;
	line-height: 40px;
	border-left:1px solid #434343;
	padding-left: 24px;
	font-size: 13px; 
}

@mixin button {
	background-color: #feb518;
	color: black;
	padding: 18px 37px;
	border-radius:2px;
	font-size: 14px;
}
html,body{
	width: 100%;
}
.topheader{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: $font-roboto;
	background-color: #222222;
	color: #dddddd;

	&__social{
		float: left;
		a{
			color: #dddddd;
			padding: 0 13px;
			font-size: 13px;
			&:first-child{
				padding-left: 0px;
			}
			&:last-child{
				padding-right: 30px;
			}
			&:hover{
				color: $highlight-color;
				text-decoration: none;
			}
		}
		// end a
	}
	// end social
	&__phone-number{
		@include textOfTopheader;
		float: left;
	}
	// endl phone-number
	&__openning{
		@include textOfTopheader;
		float: right;
		border-right:1px solid #434343;
		padding-right: 23px;
	}
}
// end topheader

// css for menu

.mynav{
	background-color:white;
	font-family:font-roboto;
	&__right{
		li.nav-item{
			a.nav-link{
				font-size: 14px;
				color: #777777;
				margin: 0px 15px;
				padding-right: 0;
				padding-left: 0;
			}
			// ned a
			a.nav-link.nav-link-btn{
				@include button;
				transform: translateY(-10px);
			}
			&:last-child{
				a.nav-link{
					margin: 0 0 ;
				}
			}
			// end last child
		}
		// end li
	}
	// end right
	&.fixedNav{
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		background-color:#222222;
		z-index: 10;
		height: 100px;
		animation: nav 1s forwards;
		opacity: 0;
		transform: translateY(0);

		.mynav__right{
			li.nav-item{
				a.nav-link{
					color:white;

					&:hover{
						color:$highlight-color;
					}
				}
				// end nav-link
				a.nav-link.nav-link-btn{
					&:hover{
						color: #222222;
					}
				}
				// end nav-link-button
			}
		}
	}
	// end fixed
}
// end mynav
@keyframes nav{
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}

// css for slide

.slideshow{
	width: 100%;
	height: 650px;
	overflow: hidden;

	.carousel{
		width: 100%;
		height: 100%;
	}

	.carousel-inner{
		width: 100%;
		height: 100%;
	}

	.carousel-item{
		width: 100%;
		height: 100%;
	}

	&__slide{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		overflow: hidden;
		.slide-caption{
			h1{
				font-family: $font-oswald;
				font-size: 50px;
				font-weight:bold;
				margin-bottom: 0;
			}
			// end h1
			p{
				font-family: $font-roboto;
				font-size: 14px;
				padding: 20px 0 30px 0;
				margin-bottom: 0;
			}
			a{
				@include button;
				display: inline-block;
				padding-left:52px; 
				padding-right:52px; 
				font-family: $font-roboto;
				&:hover{
					text-decoration: none;
				}
			}
		}
		// end caption
	}
	// end slide
	&__slide.bg1{
		background:url(../images/image-2.jpg);
		background-size:cover;
		background-position:center;
	}
	&__slide.bg2{
		background:url(../images/image-1.jpg);
		background-size:cover;
	}
	&__slide.bg3{
		background:url(../images/image-3.png);
		background-size:cover;
	}

	a.carousel-control-next,a.carousel-control-prev{
		top: 50%;
		right:5%;
		display: inline-block;
		width: 50px;
		height: 50px;
		border:1px solid white;
		transform: translateY(-50%);
		text-align: center;
		line-height: 50px;
	}
	a.carousel-control-prev{
		left: 5%;
	}
}
// end slideshow

.about{
	width: 100%;
	margin: 120px 0px;

	&__details{
		width: 100%;
		height: auto;

		&__img{
			width: 100%;
			
			img{
				width: 100%;
			}
		}
		// end __img

		&__name{
			font-family: $font-oswald;
			padding: 25px 0 20px 0;
			color: #333333;
			font-size: 20px;
			display: block;
			transition: 0.4s;
		}
		// end name
		a:hover{
			color:$highlight-color;
			text-decoration: none;
		}
		// end a

		p{
			margin-bottom: 0px;
			font-size: 14px;
			font-family: $font-roboto;
			color: #777777;
			padding-bottom: 30px;
		}
		// end p
		&__readmore{
			font-family: $font-roboto;
			font-size: 14px;
			color: #333333;
		}
		// end readmore
	}
	// end taitls
}
// end about

.banner{
	width: 100%;
	padding: 230px 0px;
	background:url(../images/7.jpg) center;
	background-attachment: fixed;

	&.bg{
		margin-top: 30px;
		background: linear-gradient(#00000091, #0000009e), url(../images/8.jpg) center;	
		background-attachment: fixed;
	}

	&__title{
		h4{
			font-family: $font-dancing;
			color: $highlight-color;
			font-weight: bold;
			font-size: 38px;
		}

		h5{
			font-family: $font-roboto;
			font-weight: bold;
			color: #ffffff;
			font-size: 36px;
		}
	}
	// end title
	
}
// ned banner

.menu{
	width: 1110px;
	margin: auto;
	&__categorys{
		ul{
			width: 100%;
			height: 70px;
			line-height: 70px;
			list-style: none;
			text-align: center;
			transform: translateY(-70px);
			margin-bottom: 50px;
			li{
				display: inline-block;
				padding:0px 20px;
				font-size: 16px;
				color: #fefefe;
				font-family: $font-roboto;
				cursor: pointer;
				&:first-child{
					padding-left: 0px;	
				}

				&:last-child{
					padding-right: 0px;
				}
			}
			// ned li
			li.active{
				color: $highlight-color;
			}
			
		}
		// end ul
	}
	// end categorys

	&__list{
		width: 100%;
		.food{
			float: left;
			display: flex;
			width: 540px;
			height: 86px;
			margin-bottom: 20px;

			&__left{
				position: relative;
				width: 86px;
				height: 86px;
				margin-right: 20px;

				img{
					width: 100%;
					height: 100%;
				}
				// end img
				.new{
					font-family: $font-roboto;
					position: absolute;
					top: -1px;
					left: 0px;
					width:43px;
					height: 17px;
					text-align: center;
					line-height: 17px;
					color: #333333;
					font-size: 13px;
					background-color: $highlight-color;
				}
				// end new
			}
			// end left\

			&__right{
				.info{
					width: 430px;
					height: 16px;
					border-bottom: 1px dotted #999999;
					font-family: $font-oswald;
					margin: 18px 0px;
					.name{
						float: left;
						background-color:white;
						font-size: 15px;
						color: #333333;
						padding-right: 10px;

					}
					.price{
						float: right;
						font-size: 15px;
						color: #333333;
						background-color: white;
						padding-left: 10px;
					}
				}
				// end info
				.clear{
					clear: both;
				}
				// end clear

				.component{
					font-family: $font-roboto;
					font-size: 14px;
					color: #777777;
				}
				// end component
			}
			// end right
		}
		// end food
	}
	// end menu_list
}
// end menu

.specialDishes{
	overflow: hidden;
	width: 100%;
	height: 650px;
	margin: 100px 0px 0px 0px;
	font-family: $font-roboto;
	background: linear-gradient(#0000005e, black), url(../images/5.jpg) center no-repeat;	position: relative;

	&__top{
		padding: 45px 0 0  0px;
		display: flex;
		width: 100%;

		.title{
			width: 70%;
			font-size: 24px;
			color: white;
			font-weight: bold;
		}
		// end title
	}
	// end top

	.owl-carousel{
		display: flex;
		width: 1485px;
		margin: auto;

		.owl-stage-outer{
			overflow: visible;
			.owl-stage{
				.owl-item{
					width: 360px!important;
				}
			}
		}
		// end owl-stage-outer

		.owl-nav{
			&.disabled{
				display: block;
				position: absolute;
				top: -50px;
				right: 335px;
			}

			.owl-prev,.owl-next{
				width:33px;
				height: 33px;
				text-align: center;
				line-height: 33px;
				background-color: #373737;
				color:white;
				font-size: 10px;

				&:hover{
					background-color: #4d3e1e;
					color: $highlight-color;
				}
			}
			// end owl-next, owl-prev
		}
		// end owl-nav
		.item{
			display: block;
			width: 360px;
			transition: 0.5s;
			transform: translateX(0);

			.dish__img{
				position: relative;

				.new{
					position: absolute;
					width: 61px;
					height: 19px;
					line-height: 19px;
					text-align: center;
					color: #333333;
					background-color: $highlight-color;
					top: 40px;
					left: 20px;
					border-radius: 1px;
				}
			}
			// end img
			&:last-child{
				margin-right: 0px;
			}

			.dish__info{
				width: 100%;
				display: flex;
				padding: 25px 0 15px 0;
				font-family: $font-oswald;
				font-size: 17px;
				color: white;
				transition: 0.5s;
				.name{
					width: 70%;
				}

				.price{
					width: 30%;
					text-align: right;
				}
			}
			// end info

			p{
				margin-bottom: 0px;
				padding-bottom: 70px;
				font-size: 14px;
				color: #aaaaaa;
			}
			// end p

			&:hover{
				text-decoration: none;

				.dish__info {
					color: $highlight-color;
				}
			}
			// end hover


		}
		// end dish
	}
	// end dishes
}

// end .specialDishes 

.masterchef{
	width: 100%;
	background: url(../images/bg_master.png) center;
	&__left{
		display: flex;
		align-items: center;

		&__info{
			h5{
				font-family: $font-oswald;
				font-size: 30px;
				color: #333333;
			}

			h6{
				font-family: $font-dancing;
				font-size: 31px;
				color: $highlight-color;
			}

			p{
				font-family: $font-roboto;
				font-size: 14px;
				color: #777777;
				line-height: 26px;
			}

			.social{
				a{
					display: inline-block;
					width: 38px;
					height: 38px;
					text-align: center;
					line-height: 38px;
					color: white;
					background-color: #333333;
					border-radius: 2px;
					margin-right: 10px;
					transition: 0.4s;

					&:last-child{
						margin-right: 0px;
					}

					&:hover{
						color: $highlight-color;
					}
				}
				// end a
			}
			// end social
		}
		// end info
	}
	// end left
}
// end mastercheft

.book{
	margin: 120px 0px;
	&__top{
		font-family: $font-roboto;
		h5{
			font-size: 26px;
			color: #333333;
			font-weight: bold;
			margin-bottom: 30px;
		}

		p{
			font-size: 15px;
			color: #777777;
			line-height: 26px;

			span{
				color:$highlight-color;
			}
		}

		.phone{
			font-family: $font-oswald;
			color: #333333;
			font-size: 25px;
			font-weight: bold;
		}
		// end phone
	}
	// end top

	.hr{
		width: 100%;
		height: 1px;
		background: #e4e4e4;
		margin: 60px 0px;
	}

	&__bottom{
		font-family: $font-roboto;
		h5{
			color: #333333;
			font-size: 22px;
			margin-bottom: 30px;
			font-weight: bold;
		}

		.form-group{
			position: relative;
			margin-bottom: 30px;
			height: 45px;
			input{
				height: 45px;
				padding-left: 20px;
				color: #777777;
				font-size: 13px;
			}

			i{
				position: absolute;
				top: 40px;
				right: 10px;
				color: #777777;
			}
		}
		// end onput
		
		a.booknow{
			text-transform: uppercase;
			width: 160px;
			height: 50px;
			display: inline-block;
			background-color: $highlight-color;
			text-align: center;
			line-height: 50px;
			font-size: 12px;
			font-weight: bold;
			color: #333333;
			margin-top: 50px;

			&:hover{
				text-decoration: none;
			}
		}
	}
	// end bottom
}
// end book

.testimonials{
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
			.testimonial{
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				color: white;

				&.active{
					opacity: 1;
					visibility: visible;
				}
				// end active
				.slideCaption{
					i{
						font-size: 50px;
					}

					p{
						font-family: $font-roboto;
						font-size: 18px;
						line-height: 36px;
						padding: 47px 0 37px 0;

						&:before{
							content: "“ ";
						}

						&:after{
							content: " ”";
						}
					}
					// end p

					.name{
						font-size: 29px;
						font-family: $font-dancing;
						font-weight: bold;
						color: $highlight-color;

						&:before{
							content: "-  ";
							color: white;
						}
					}
					// end name
				}
				// end slidecaption

				&.leftout{
					animation: leftout 1s forwards;
				}

				&.rightin{
					animation: rightin 1s forwards;
				}
		}
	// endl testimonial
	.slidebutton{
		position: absolute;
		bottom: 40px;
		left: 47%;
		z-index: 3;
		li{
			display: inline-block;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			cursor: pointer;
			border: 1px solid #d0d0d0;
			background: none;

			&.active{
				background: $highlight-color;
				border: none;
			}
		}
		// end li
	}
	// end slide-button
}

@keyframes leftout{
	from{
		transform: translateX(0%);opacity: 1;visibility: visible;
	}
	to{
		transform: translateX(-100%);opacity: 0;visibility: hidden;;
	}
}

@keyframes rightin{
	from{
		transform: translateX(100%);opacity: 0;visibility: hidden;
	}
	to{
		transform: translateX(0%);opacity: 1;visibility: visible;
	}
}
// end testimonials

.blogs{
	width: 100%;
	margin: 120px 0px;

	h5{
		font-family: $font-dancing;
		font-weight: bold;
		font-size: 40px;
		color: $highlight-color;
	}

	h6{
		font-family: $font-roboto;
		font-size: 24px;
		color: #333333;
		font-weight: bold;
		margin-bottom: 0px;
	}

	.blog{
		margin-top: 60px;
		width: 100%;

		&__img{

			img{
				width: 100%;
			}
		}
		// end img

		.name{
			font-family: $font-oswald;
			font-size: 18px;
			color:#333333;
			margin-top:25px;
			margin-bottom: 10px;
		}

		p{
			font-family: $font-roboto;
			font-size: 14px;
			color: #777777;
			line-height: 24px;

			span {
				color:$highlight-color;
			}
		}
		// end p

		&__bottom{
			width: 100%;
			display: flex;
			font-family: $font-roboto;
			color: #333333;
			border-top: 1px dotted #d6d6d6;
			padding-top: 20px;
			margin-top: 10px;

			.readmore{
				width: 50%;
				font-weight: bold;
			}

			.likes{
				width: 50%;
				text-align: right;
			}
		}
		// end bottom

	}
	// end blog
}
// end blog
@import "mobile";
@import "tablet";